@tailwind base;
@tailwind components;
@tailwind utilities;

*,
body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .dz_container_large {
    /* @apply 2xl:max-w-[1632px] xl:max-w-[1112px] lg:max-w-[956px] md:max-w-[700px] mx-auto px-4; */
    @apply 2xl:max-w-[1632px] xl:max-w-full mx-auto px-4;
  }

  .dz_container {
    @apply 2xl:max-w-[1432px] xl:max-w-[1312px] lg:max-w-[1056px] md:max-w-[800px] mx-auto px-4;
  }

  .primaryBtn {
    @apply bg-primary text-white min-w-28  md:min-w-40 min-h-10 md:min-h-11 p-1;
  }

  .secondaryBtn {
    @apply bg-transparent text-primary min-w-32 md:min-w-40 min-h-10 md:min-h-11 border border-primary p-1;
  }

  .primaryBtn-text,
  .secondaryBtn-text {
    @apply text-sm md:text-md text-white font-medium capitalize leading-10 whitespace-nowrap cursor-pointer leading-normal;
  }

  .secondaryBtn-text {
    @apply text-primary;
  }
  /* 
  .logo {
    font-family: "Lora";
  } */

  .input-no-border:focus {
    border: none;
    outline: none; /* Remove the default outline as well */
  }
}
